<div class="search-area">
  <input
  type="text"
  placeholder="Search"
  class="search"
  [(ngModel)]="searchResults"
/>
<img src="../assets/search.png" class="img" />
</div>
<div class="cards">
<div *ngFor="let movie of movies | filter: searchResults" >
  <div class="card">
    <h2>{{ movie.Title }}</h2>
    <img [src]="movie.Images" width="250" />
    <p><span>Year:</span>{{ movie.Year }}</p>
    <p><span>Released:</span> {{ movie.Released }}</p>
    <p><span>Runtime:</span> {{ movie.Runtime }}</p>
    <p><span>Awards:</span> {{ movie.Awards }}</p>
  </div>
</div>
</div>
